.login-container {
    background-color: #f0f2f5;
    min-height: 100vh;
    padding: 20px 0;

    .contain-left {
        .title {
            font-size: 30px;
            text-transform: uppercase;
            color: #1877f2;
            font-weight: bold;
        }

        .detail {
            font-size: 20px;
        }
    }

    .contain-right {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgb(0 0 0/ 10%), 0 8px 16px, rgb(0 0 0 /10%);
        box-sizing: border-box;

        .forgot-password {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .title {
            font-size: 30px;
            text-transform: uppercase;
            color: #1877f2;
            font-weight: bold;
            text-align: center;
        }

    }
}